
/********* appel de module(s) *******/
@use 'sass:color';


/*************** DESIGN SYSTEM ***************/

/* color */
$main__color: #9356DC;
$main_contrast__color: #FF79DA;
$main__gradient: color.mix($main__color, $main_contrast__color, 50%);
$main__linear: linear-gradient($main__color, $main_contrast__color);
$check__color: #99E2D0;
$check_font__color:#008766;
$bg__color: #f6f6f6;
$bg_contrast__color: #353535;
$clear__color: #FFFFFF;
$bg_shade__color : #EAEAEA;
$text__color: #000000;

/* text */
$names__font: "Shrikhand";
$body__font: "Roboto";

/* Breakpoints from Mobile */
$query__desk:1024px;
$query__tablet:760px;
$query__large:1400px;

$anim__duration:500ms;

$loader__width:20rem;
$loader__height: $loader__width;


/********* GLOBAL ******************/

@keyframes loader{
    0%{
        scale: 1;
        transform: rotate(0deg);
    }
    25%, 50%, 75%{
        scale: 0.5;
    }
    100%{
        scale: 0;
        transform: rotate(600deg);
    }
}

@keyframes loader__in{
    0%{
        scale:0;
        opacity: 0;
    }
    50%{
        scale: 3;
        opacity: 1;
    }
    100%{
        scale: 0.2;
        opacity: 0;
    }
}

@keyframes loader__page{
    0%{
        opacity: 1;
        scale: 1;
    }
    25%, 50%, 75%{
        opacity: 1;
        scale: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        scale: 0;
    }
}

.nolarge{
    @media (min-width:$query__large){
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

body{
    font-family: $body__font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    
    
    &::before{//fond qui disparait au chargement
        content: "";
        background-color: $bg__color;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        animation: loader__page $anim__duration*6 500ms both;
    }
    .loader{
        background-color: $bg__color;
        border: solid 2px $bg_contrast__color;
        box-shadow: 0rem 0rem 5rem $bg_contrast__color;
        border-radius: 100rem;
        position: fixed;
        top: 5vh;
        bottom: 5vh;
        left: 5vw;
        right: 5vw;
        width: $loader__width;
        height: $loader__height;
        margin-left: auto;
        margin-right: auto;
        z-index: 4;
        animation: loader $anim__duration*6 forwards;
        &__in{
            
            animation: loader__in $anim__duration*6 both;
            @for $i from 1 through 3{
                &--#{$i}{
                    animation-delay: 100ms*$i;
                }
            }
            &--1{
                background-color: $main__color;
                width: 5%;
                height: 5%;
                border-radius: 50%;
                position: absolute;
                top: $loader__height /1.5;
                left: $loader__width /1.5;
            }
            &--2{
                background-color: $main__color;
                width: 5%;
                height: 5%;
                border-radius: 50%;
                position: absolute;
                top: $loader__height /2.1;
                left: $loader__width /1.3;
            }
            &--3{
                background-color: $main__color;
                width: 5%;
                height: 5%;
                border-radius: 50%;
                position: absolute;
                top: $loader__height /3.5;
                left: $loader__width /1.4;
            }
            
        }
    }
}

h1, h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h3{
    font-size: 1rem;
    font-weight: 500;
}
p{
    font-size: 1rem;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: inherit;
}



.bouton{
    background-image: $main__linear;
    border-radius: 2rem;
    color: $clear__color;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    text-decoration: none;
    box-shadow: 0rem 0rem 0.5rem $main__color;
    margin-left: auto;
    margin-right: auto;
    width: 11rem;
    transition: opacity $anim__duration;
    position: relative;
    &:hover{
        opacity:0.7;
        //box-shadow: 0rem 0.3rem 0.5rem $main__color;
        &::after{
            opacity:1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 2rem;
        padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        box-shadow: 0rem 0.3rem 0.5rem $main__color;
        width: 11rem;
        transition: opacity $anim__duration;
        opacity: 0;
    }
    
}





.colonne{/* mise en colonne et padding réutiliés */
    display: flex;
    flex-direction: column;
    padding: 3rem 1.2rem;
}
.padding{
    @media(min-width:$query__tablet){
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
.marges{
    padding-left: 2rem;
    padding-right: 2rem;
    @media(min-width:$query__desk){
        padding-left: 10%;
        padding-right: 10%;
    }
    @media(min-width:$query__large){
        padding-left: 20%;
        padding-right: 20%;
    }
    
}
.background{
    background-color: $bg__color;
}
.picto{ /* couleur des pictogrammes */
    color: $main__color;
}





/*************** Homepage - Mobile *******/
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $clear__color;
    padding: 0.8rem;
    &__logo{
        width: 10rem;
    }
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $bg_shade__color;
    padding: 0.8rem;
    &__icon{
        margin-right: 0.5rem;
        margin-left: 2rem;
    }
    &__entry{
        border: none;
        background-color: $bg_shade__color;
    }
}

/*section Promesse, blurb et pseudobouton-lien*/
/* le bouton est une classe globale */
.promesse{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.5rem 0 3.5rem 0;
    p{
        margin-bottom: 2rem;
    }
}

/*section sur les encadrés de fonctionnement */
.fonctionnement{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media(min-width:$query__tablet){
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 36%;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width:$query__desk){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        width: unset;
        margin-left: unset;
        margin-right: unset;
    }
    &__icon{
        background-color: $main__color;
        border-radius: 1.5rem;
        padding: 0.3rem 0.7rem;
        color: $clear__color;
        margin-bottom: 1rem;
        position: absolute;
        left: 15px;
        @media(min-width:$query__tablet){
            position: relative;
            left: -15px;
        }
    }
    &__encadre{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $bg__color;
        border-radius: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        box-shadow: 0rem 0rem 0.5rem $main_contrast__color;
        i{
            margin-right: 1rem;
            margin-left: 2rem;
            @media(min-width:$query__tablet){
                margin-left: 0rem;
            }
        }
        @media (min-width:$query__tablet){
            width: unset;
        }
    }
}


/* pour placer cartes en desk et tablet */
.carrousel{
    @media(min-width:$query__tablet){
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
        row-gap: 1rem;
        column-gap: 3rem;
    }
}

/* section carrousel de cartes-liens vers restos */
.shopCard{/* cartes dans "Restaurants" */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    background-color: $clear__color;
    box-shadow: 0rem 0rem 0.5rem $check__color;
    position: relative;
    &__vignette{
        position: absolute;
        background-color: $check__color;
        color: $check_font__color;
        padding: 0.5rem;
        right: 5%;
    }
    &__image{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        position: relative;
        h3, p{
            margin: 0.3rem;
        }
    }
    &__imgup{
        position: absolute;
        right: 5%;
        
    }
    &__imgdown{
        position: absolute;
        right: 5%;
        opacity: 0;
        transition: opacity $anim__duration*2;
        &:hover{
            opacity: 1;
        }
    }
}


   


.footer{
    background-color: $bg_contrast__color;
    color: $clear__color;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    @media(min-width:$query__tablet){
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding-right: 2rem;
    }
    &__title{
        color: $clear__color;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $names__font;
        margin-bottom: 1rem;
    }
    &__menu{
        list-style-type: none;
        padding: 0;
        margin-top: 1rem;
        @media(min-width:$query__tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-right: 1rem;
            width: 100%;
        }
        @media(min-width:$query__desk){
            width: 70%;
        }
        li{
            margin-bottom: 0.5rem;
        }
    }
}

