@charset "UTF-8";
/********* appel de module(s) *********************************/
/******** imports des partiels *******************************/
/*************** DESIGN SYSTEM *****************************/
/* color */
/* text */
/* Breakpoints from Mobile */
/* Animation's bit */
/* MIXINS */
/* Keyframes */
@keyframes loader {
  0% {
    scale: 1;
    transform: rotate(0deg);
  }
  25%, 50%, 75% {
    scale: 0.5;
  }
  100% {
    scale: 0;
    transform: rotate(600deg);
  }
}
@keyframes loader__in {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    scale: 3;
    opacity: 1;
  }
  100% {
    scale: 0.2;
    opacity: 0;
  }
}
@keyframes loader__page {
  0% {
    opacity: 1;
    scale: 1;
  }
  25%, 50%, 75% {
    opacity: 1;
    scale: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@keyframes menu__loading {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  25% {
    opacity: 0.25;
    transform: translateX(7.5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(5rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(2.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* sélecteurs-éléments */
body {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

/* composants */
.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 3;
  animation: loader__page 3000ms 500ms both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderContainer .loader {
  background-color: #f6f6f6;
  border: solid 2px #353535;
  box-shadow: 0rem 0rem 5rem #353535;
  border-radius: 100rem;
  position: fixed;
  width: 20rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  animation: loader 3000ms forwards;
}
.loaderContainer .loader__in {
  animation: loader__in 3000ms both;
}
.loaderContainer .loader__in--1 {
  animation-delay: 100ms;
}
.loaderContainer .loader__in--2 {
  animation-delay: 200ms;
}
.loaderContainer .loader__in--3 {
  animation-delay: 300ms;
}
.loaderContainer .loader__in--1 {
  background-color: #9356DC;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  position: absolute;
  top: 13.3333333333rem;
  left: 13.3333333333rem;
}
.loaderContainer .loader__in--2 {
  background-color: #9356DC;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  position: absolute;
  top: 9.5238095238rem;
  left: 15.3846153846rem;
}
.loaderContainer .loader__in--3 {
  background-color: #9356DC;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  position: absolute;
  top: 5.7142857143rem;
  left: 14.2857142857rem;
}

.bouton {
  background-image: linear-gradient(#9356DC, #FF79DA);
  border-radius: 2rem;
  color: #FFFFFF;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  box-shadow: 0rem 0rem 0.5rem #9356DC;
  margin: auto;
  transition: opacity 500ms;
  position: relative;
}
.bouton:hover {
  opacity: 0.7;
}
.bouton:hover::after {
  opacity: 1;
}
.bouton::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2rem;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  box-shadow: 0rem 0.3rem 0.5rem #9356DC;
  transition: opacity 500ms;
  opacity: 0;
}

.picto { /* couleur des pictogrammes */
  color: #9356DC;
}

.return {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 0.8rem;
  position: relative;
}
.header__logo {
  width: 10rem;
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (min-width: 760px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-right: 2rem;
  }
}
.footer__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Shrikhand";
  margin-bottom: 1rem;
}
.footer__menu {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}
@media (min-width: 760px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 1rem;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer__menu {
    width: 70%;
  }
}
.footer__menu li {
  margin-bottom: 0.5rem;
}

/*************** Homepage ***********************************/
.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 0.8rem;
}
.searchbar__icon {
  margin-right: 0.5rem;
  margin-left: 2rem;
}
.searchbar__input {
  border: none;
  background-color: #EAEAEA;
}

.promesse {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem 0 3.5rem 0;
}
.promesse p {
  margin-bottom: 2rem;
}

.explicatif {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}
@media (min-width: 1024px) {
  .explicatif {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1400px) {
  .explicatif {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.fonctionnement {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}
@media (min-width: 760px) {
  .fonctionnement {
    width: 36%;
    gap: 2rem;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    width: unset;
    margin: unset;
  }
}
.fonctionnement__icon {
  background-color: #9356DC;
  border-radius: 1.5rem;
  padding: 0.3rem 0.7rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
  position: absolute;
  left: 15px;
}
@media (min-width: 760px) {
  .fonctionnement__icon {
    position: relative;
    left: -15px;
  }
}
.fonctionnement__encadre {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem #FF79DA;
}
.fonctionnement__encadre i {
  margin: auto 1rem auto 2rem;
}
@media (min-width: 760px) {
  .fonctionnement__encadre i {
    margin-left: 0rem;
  }
}

/* pour placer cartes en desk et tablet */
.restaurants {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1400px) {
  .restaurants {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 760px) {
  .restaurants__carrousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 3rem;
  }
}

/* section carrousel de cartes-liens vers restos */
.shopCard { /* cartes dans "Restaurants" */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0rem 0rem 0.5rem #99E2D0;
  position: relative;
}
.shopCard__vignette {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.5rem;
  right: 5%;
}
.shopCard__image {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.shopCard__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}
.shopCard__details h3, .shopCard__details p {
  margin: 0.3rem;
}
.shopCard__imgup {
  position: absolute;
  right: 5%;
}
.shopCard__imgdown {
  position: absolute;
  right: 5%;
  opacity: 0;
  transition: opacity 1000ms;
}
.shopCard__imgdown:hover {
  opacity: 1;
}

.bandeauPhoto {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -2rem;
}

.fronton {
  position: relative;
}
@media (min-width: 760px) {
  .fronton {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 760px) {
  .fronton__picto {
    position: relative;
  }
}
.fronton__titre {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  font-weight: 400;
}
@media (min-width: 760px) {
  .fronton__titre {
    margin-right: 2rem;
  }
}
.fronton__imgup {
  top: 40%;
  right: 0;
  position: absolute;
  opacity: 1;
  transition: opacity 500ms;
}
.fronton__imgup:hover {
  opacity: 0;
}
@media (min-width: 760px) {
  .fronton__imgup {
    right: 20%;
  }
}
.fronton__imgdown {
  top: 40%;
  right: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms;
}
.fronton__imgdown:hover {
  opacity: 1;
}
@media (min-width: 760px) {
  .fronton__imgdown {
    right: 20%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  padding: 0 1rem;
}
@media (min-width: 760px) {
  .menu {
    padding: 0 13rem;
  }
}
@media (min-width: 1024px) {
  .menu {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (min-width: 1400px) {
  .menu {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
.menu__title {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #99E2D0;
  width: -moz-min-content;
  width: min-content;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.menu__subtitle {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0;
}
.menu__card {
  background-color: #FFFFFF;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #99E2D0;
  margin-top: 1rem;
  position: relative;
  overflow-x: hidden;
  /*
  &::after{
      content: "";
      position: absolute;
      z-index: 3;
      opacity: 0;
      top: 0;
      right: 0;
      background-color: $check__color;
      padding: 0.5rem;
      border-radius: 0 1rem 1rem 0;
      box-shadow: 0 0 0.5rem $check__color;
      height: 80%;
      width: 10%;
      transition: all 1s;
      transform: translate(50%);
  }
  &:hover{
      &::after{
          opacity: 1;
          transform: translate(0);
      }
  }*/
}
.menu__card h3 {
  margin: 0.3rem;
}
.menu__card p {
  margin: 0rem;
  font-size: 0.9rem;
}
.menu__card:hover .checkbox {
  transform: translateX(0);
}
.menu__subcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
  padding: 0rem;
}
.menu__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.9rem;
}
.menu__bouton {
  margin: 2.5rem auto;
}
.menu__entry {
  animation: menu__loading 1500ms 100ms both linear;
}
.menu__course {
  animation: menu__loading 1500ms 500ms both linear;
}
.menu__dessert {
  animation: menu__loading 1500ms 1000ms both linear;
}

.checkbox {
  background-color: #99E2D0;
  border-radius: 0 0.9rem 0.9rem 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15%;
  margin: 0;
  z-index: 1;
  transform: translateX(100%);
  transform-origin: right;
  transition: all 500ms;
}
.checkbox__picto {
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #99E2D0;
  padding: 0.5rem;
  position: absolute;
  top: 25%;
  left: 25%;
}/*# sourceMappingURL=main.css.map */