/* composants */
.loaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg__color;
    z-index: 3;
    animation: loader__page $anim__duration*6 500ms both;
    display: flex;
    justify-content: center;
    align-items: center;
    .scaler{
        animation: scalingLoader $anim__duration*6 forwards;
        background-color: $bg__color;
        border: solid 2px $bg_contrast__color;
        box-shadow: 0rem 0rem 5rem $bg_contrast__color;
        border-radius: 100rem;
        @include loader;
    }
    .loader{
        @include loader;
        animation: spin $anim__duration*6 forwards;
        &__in{
            animation: loader__in $anim__duration*6 both;
            @for $i from 1 through 3{
                &--#{$i}{
                    animation-delay: 100ms*$i;
                }
            }
            &--1{
                @include loader__in;
                top: $loader__height /1.5;
                left: $loader__width /1.5;
            }
            &--2{
                @include loader__in;
                top: $loader__height /2.1;
                left: $loader__width /1.3;
            }
            &--3{
                @include loader__in;
                top: $loader__height /3.5;
                left: $loader__width /1.4;
            } 
        }
    }
}

.bouton{
    background-image: $main__linear;
    color: $clear__color;
    margin: auto;
    transition: opacity $anim__duration;
    position: relative;
    @include bouton;
    &:hover{
        opacity:0.7;
        &::after{
            opacity:1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity $anim__duration;
        opacity: 0;
        @include bouton;
    } 
}

.picto{ /* couleur des pictogrammes */
    color: $main__color;
}

.return{
    position: absolute;
    top: 1rem;
    left: 1rem;
}