.bandeauPhoto{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin-bottom: -2rem;
}


.fronton{
    position: relative;
    @media (min-width:$query__tablet){
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__picto{
        @media (min-width:$query__tablet){
            position: relative;
        }
        
    }
    &__titre{
        font-family: $names__font;
        font-size: 1.75rem;
        font-weight: 400;
        @media (min-width:$query__tablet){
            margin-right: 2rem;
        }
    }
    &__imgup{
        @include img--restaurant;
        opacity: 1;
        transition: opacity $anim__duration;
        &:hover{
            opacity:0
        }
        @media (min-width:$query__tablet){
            right: 20%;
        }
    }
    &__imgdown{
        @include img--restaurant;
        opacity: 0;
        color: transparent;
        background-image: $main__linear;
        background-clip: text;
        transition: opacity $anim__duration*2;
        &:hover{
            opacity: 1;
        }
        @media (min-width:$query__tablet){
            right: 20%;
        }
    }
}


.menu{
    display: flex;
    flex-direction: column;
    background-color: $bg__color;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    padding: 0 1rem;
    @media (min-width:$query__tablet){
        padding: 0 13rem;
    }
    @media (min-width:$query__desk){
        margin: auto 6rem;
    }
    @media (min-width:$query__large){
        margin: auto 12rem;
    }
    &__title{
        font-family: $body__font;
        font-size: 1rem;
        font-weight: 300;
        font-style: normal;
        text-transform: uppercase;
        border-bottom: 0.2rem solid $check__color;
        width: min-content;
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    &__subtitle{
        font-family: $body__font;
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    &__card{
        background-color: $clear__color;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem $check__color;
        margin-top: 1rem;
        position: relative;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        & h3{
            margin: 0.3rem;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            transition: width $anim__duration;
        }
        & p{
            margin: 0rem;
            font-size: 0.9rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
            width: 100%;
            transition: width $anim__duration;
        }
        &:hover{
            .checkbox{
                transform: translateX(0);
            }
            .menu__price{
                transform: translateX(-5rem);
            }
            p{
                width: 60%;
            }
            h3{
                width: 70%;
            }
        }
    }
    &__subcard{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0.3rem;
        padding: 0rem;
    }
    &__price{
        font-family: $body__font;
        font-weight: 700;
        font-size: 0.9rem;
        transform: translateX(0);
        transition: transform $anim__duration;
    }
    &__bouton{
        margin: 2.5rem auto;
    }
    &__entry{
        animation: menu__loading $anim__duration*3 $menu__delay*1 both linear;
    }
    &__course{
        animation: menu__loading $anim__duration*3 $menu__delay*5 both linear;
    }
    &__dessert{
        animation: menu__loading $anim__duration*3 $menu__delay*10 both linear;
    }
}

.checkbox{
    background-color: $check__color;
    border-radius: 0 0.9rem 0.9rem 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5rem;
    margin: 0;
    z-index: 1;
    transform: translateX(100%);
    transform-origin: right;
    transition: all $anim__duration;
    
    &__picto{
        border-radius: 50%;
        background-color: $clear__color;
        color: $check__color;
        padding: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }   
}
